<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MetroMap.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>187C895222BDE0CC00F8DBF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187C896A22BDE0CF00F8DBF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187C897522BDE0CF00F8DBF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
